@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================== */
/* Estilos tipográficos JD */
/* ===================== */
@layer base {
  /* Fuente global en TODO el sitio */
  html {
    @apply font-jd antialiased;
    font-size: 16px;
  }

  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Titulares con un poco más de presencia */
  h1, h2, h3, h4 {
    @apply tracking-tightish font-semibold;
  }

  /* “Eyebrow text” (usado en hero: MONITOREO GPS VEHICULAR, etc.) */
  .eyebrow {
    @apply text-[0.7rem] uppercase tracking-wideish font-light;
  }
}
